<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-hotspot" version="1.2.9">
  <name>Cordova HotSpot Plugin</name>
  <license>MIT</license>
  <description>A Cordova plugin for managing HotSpot networks on Android.</description>
  <author>Martin Reinhardt</author>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  <js-module src="www/HotSpotPlugin.js" name="HotSpotPlugin">
    <clobbers target="cordova.plugins.hotspot"/>
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HotSpotPlugin">
        <param name="android-package" value="de.martinreinhardt.cordova.plugins.hotspot.HotSpotPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
      <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="application/activity">
      <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
    </config-file>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <source-file src="src/android/de/martinreinhardt/cordova/plugins/hotspot/HotSpotPlugin.java" target-dir="src/de/martinreinhardt/cordova/plugins/hotspot"/>
    <source-file src="src/android/com/mady/wifi/api/ScanTimer.java" target-dir="src/com/mady/wifi/api"/>
    <source-file src="src/android/com/mady/wifi/api/ScanTimerSimple.java" target-dir="src/com/mady/wifi/api"/>
    <source-file src="src/android/com/mady/wifi/api/WifiAddresses.java" target-dir="src/com/mady/wifi/api"/>
    <source-file src="src/android/com/mady/wifi/api/WifiHotSpots.java" target-dir="src/com/mady/wifi/api"/>
    <source-file src="src/android/com/mady/wifi/api/WifiStatus.java" target-dir="src/com/mady/wifi/api"/>
    <source-file src="src/android/com/mady/wifi/datatransfer/DataUsage.java" target-dir="src/com/mady/wifi/datatransfer"/>
    <source-file src="src/android/com/mady/wifi/datatransfer/NetworkStats.java" target-dir="src/com/mady/wifi/datatransfer"/>
    <source-file src="src/android/com/mady/wifi/datatransfer/SimpleAsynTask.java" target-dir="src/com/mady/wifi/datatransfer"/>
    <source-file src="src/android/com/mady/wifi/datatransfer/WifiSocket.java" target-dir="src/com/mady/wifi/datatransfer"/>
  </platform>
</plugin>